# CI WORKFLOW: CI Pull Request Tests
# PURPOSE: Runs backend and frontend tests when a PR is opened to main to check code, ensuring it is tested and ready to merge into main
# TRIGGER: pull_request to main branch and workflow_dispatch for manual triggering

name: CI Pull Request Tests

on:
  pull_request:
    branches: [main]
    
  # Allow manual triggering to test the CI PR pipeline independently
  workflow_dispatch: 

# If a new commit is pushed to the same PR, cancel the previous run
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # Run backend tests using the reusable workflow for backend tests
  backend-tests:
    name: Backend Tests
    uses: ./.github/workflows/test_backend.yml
    # Passes the secrets to the backend tests workflow from stored secrets in GitHub Actions
    secrets:
      JWT_SECRET_KEY: ${{ secrets.JWT_SECRET_KEY }}
      OMDB_API_KEY: ${{ secrets.OMDB_API_KEY }}

  # Run frontend tests using the reusable workflow for frontend tests
  frontend-tests:
    name: Frontend Tests
    uses: ./.github/workflows/test_frontend.yml

  # Validate the quality of the PR by checking if the backend and frontend tests passed
  pr-quality-validation:
    name: PR Quality Validation
    runs-on: ubuntu-latest
    needs: [backend-tests, frontend-tests]
    # Always run this step, regardless of test results
    if: always()
    
    steps:
      - name: Check all tests passed
        # This step checks the results of the backend and frontend tests and exits with code based on the results
        # If both tests passed, the PR is ready to merge, otherwise it is blocked from merging
        # Store the results of the backend and frontend tests in variables
        # Print the results to the step log

        run: |
          BACKEND="${{ needs.backend-tests.result }}"
          FRONTEND="${{ needs.frontend-tests.result }}"

          echo "Backend tests: $BACKEND"
          echo "Frontend tests: $FRONTEND"


          if [[ "${{ needs.backend-tests.result }}"  == "success" && \
                "${{ needs.frontend-tests.result }}" == "success" ]]; then
            echo "All tests passed: PR is ready to merge"
            exit 0
          else
            echo "Tests failed: PR is blocked from merging"
            exit 1
          fi